[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pylint = "*"
pycodestyle = "*"
rope = "*"
black = "*"

[packages]
mysql-connector-python = "*"
sqlalchemy = "*"
requests = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
